#myprofile{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 3vw;
    padding-top: 2vw;
}

.welcome{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sansita Swashed', cursive;
}

#wlcm{
    position: absolute;
    color: #ffffff;
    width: 100%;
    z-index: 1;
    max-width: 100%;
    top:12vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#wlcm::first-line{
    font-size: 15vw;
    margin-bottom: 0;
}


body,html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color:black;
    color: #ffffff;
}

.bg {
    background: url('/static/img/wallpaper.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    font-family: 'Roboto', sans-serif;
    margin-top: 2vw;
    font-size: 1.5vw;
    background-color: transparent;
    border: 1px solid #3498db;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer; 
}

#profiletext {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 2vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 3vw;
    padding-top: 2vw;
    margin-left: 0vw;
}

/*navbar*/

.navbar a{
    color: white;
    font-size: 2rem;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar {
    background-color: black;
  }
  .navbar .navbar-brand {
    color: #f6f6f6;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #a5d6ff;
  }
  .navbar .navbar-text {
    color: #f6f6f6;
  }
  .navbar .navbar-text a {
    color: #a5d6ff;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #a5d6ff; 
  }
  .navbar .navbar-nav .nav-link {
    color: #f6f6f6;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #a5d6ff;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #9f9f9f;
    border-color: #00020c;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #f6f6f6;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #a5d6ff;
    background-color: #00020c;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #00020c;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #a5d6ff;
    background-color: #00020c;
  }
  .navbar .navbar-toggle {
    border-color: #ffffff;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #ffffff;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: white;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #f6f6f6;
  }
  .navbar .navbar-link {
    color: #f6f6f6;
  }
  .navbar .navbar-link:hover {
    color: #a5d6ff;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f6f6f6;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #a5d6ff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #a5d6ff;
      background-color: #00020c;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f6f6f6;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #a5d6ff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #a5d6ff;
      background-color: #00020c;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f6f6f6;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #a5d6ff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #a5d6ff;
      background-color: #00020c;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f6f6f6;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #a5d6ff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #a5d6ff;
      background-color: #00020c;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f6f6f6;
  }
  .navbar-expand .navbar-nav .show dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5d6ff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5d6ff;
    background-color: #00020c;
  }

/*header*/
.carousel {
    margin-top: 0;
}


.centered{
    position: absolute;
    color: white;
    width: 100%;
    z-index: 1;
    max-width: 100%;
    top:20vw;
    font-size: 4vw;
    font-family: 'Sansita Swashed', swashed;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
}

/*about*/
.content {
    background-image: url("wallpaper.jpg");
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.about h5 {
    font-size: 1.5rem;
    text-align: justify;
}

.about img {
    position: relative;
}

.about h4 {
    text-align: center;
}

/*education*/
.education h2 {
  font-size: 4rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Sansita Swashed', cursive;
}

.education p {
  text-align: justify;
}

/*skill*/
.skill p {
    text-align: justify;
}
.skill h2 {
  font-size: 4rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Sansita Swashed', cursive;
}




/*Button*/
#btnexp{
  font-family: 'Sansita Swashed', cursive;
}

/*Feedback*/
.feedback h2{
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
  color:#8bdaff; 
  font-weight: 600;
}
.feedback a{
  font-family: 'Sansita Swashed', cursive;
  font-weight: 900;
  color: #657679;
}

/*contact*/
.contact {
  background-image: url("cons.jpg");
}

.contact h2{
  font-family: 'Sansita Swashed', cursive;
  font-size: 3rem;
  color:#ecffff; 
  font-weight: 800;
  margin-bottom: 30px;
}


.contact h6 {
  font-size: 1.2rem;
  color: #ffffff;
}

.experience {
  font-family: 'Sansita Swashed', cursive;
  background-image: url("cons.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*buat responsive*/
@media (max-width: 768px) {
  #myprofile {
      font-size: 1.3rem;
  }
  .centered img {
    width: 47px;
  }
  .about h5 {
    font-size: 1.3rem;
  }
  .about h4 {
    font-size: 1.5rem;
  }
  .education h2, .skill h2 {
    font-size: 3rem;
  }
  .skill img {
    width: 150px;
  }
  .skill h5 {
    font-size: 1rem ;
  }
  .skill p {
    font: 0.6rem;
  }
  #btnexp {
    font-size: 1rem;
  }
  #please {
    font-size: 1.5rem;
  }
  .contact h2 {
    font-size: 2.5rem;
  }
  .contact h6{
    font-size: 1rem;
  }
  .contact img {
    width: 33px;
  }
}


@media (max-width: 500px) {
  #myprofile {
      font-size: 1.2rem;
  }
  .centered img {
    width: 37px;
  }
  .about h5 {
    font-size: 1rem;
  }
  .about h4 {
    font-size: 1.3rem;
  }
  .skill h5 {
    font-size: 1rem ;
  }
  .skill p {
    font: 0.8rem;
  }
  .education h2, .skill h2, .contact h2{
    font-size: 2.5rem;
  }
  .skill img {
    width: 80px;
  }
  #btnexp {
    font-size: 0.8rem;
  }
  #please {
    font-size: 1rem;
  }
  .contact h2 {
    font-size: 2.2rem;
  }
  .contact h6 {
    font-size: 1.8rem;
  }
  .contact h6 {
    font-size: 0.9rem;
  }
  .contact img {
    width: 29px;
  }
}