{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- CSS CDN BLOCK-->
    {% block linkCDN %} {% endblock linkCDN %}
    
    <!--Link Font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&family=Sansita+Swashed:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!--Icon-->
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}">

    <title>Futuh's Personal Website</title>
  </head>
  <body>
    
    <!-- Navigation Bar -->
    <div class="offset-1 col-10 text-center ">
        <nav class="navbar fixed-top navbar-expand-lg navbar">
        <a class="navbar-brand active" id="namaprofil" href="{% url 'personalwebsite:welcome' %}">Futuh's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="navhome" href="{% url 'personalwebsite:profile' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personalwebsite:profile' %}#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personalwebsite:profile' %}#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personalwebsite:profile' %}#skill">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personalwebsite:profile' %}#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story1:story1' %}">Story 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'matkul:listMatkul' %}">Story 5</a>
            </li>
            
            </ul>
        </div>
        </nav>
    </div>


    <!-- Block Main -->
    {% block main %} {% endblock main %}
                 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
