{% extends 'personalwebsite/base.html' %} {% load static %}

{% block linkCDN %}
  <!--Link Font-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">
{% endblock linkCDN %}
  
    
{% block main %}
        <!--Experience-->
        <section class="experience" id="experience">
            <div class="container mt-5">
              <div class="row mt-5 mb-5">
                <div class="col-md-12 text-center">
                  <h1>Futuh's Random Things</h1>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class=col-md-12>
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <center>
                        <video width="960" height="540" controls autoplay>
                          <source src="{% static 'Woe is me.mp4' %}" type="video/mp4"> </source>
                        </video><center>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" width="960" height="540" src="{% static 'exp.JPG' %}" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" width="960" height="540" src="{% static 'exp2.JPG' %}" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" width="960" height="540" src="{% static 'exp3.jpg' %}" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" width="960" height="540" src="{% static 'exp4.png' %}" alt="Fourth slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" width="960" height="540" src="{% static 'exp5.png' %}" alt="Fifth slide">
                      </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                  <a id="btnexp" class="btn btn-dark btn-lg" href="{% url 'personalwebsite:profile' %}#skill" role="button">Go Back!</a>
                </div>
              </div>
            </div>
          </section>

{% endblock main %}


    
