{% extends 'personalwebsite/base.html' %}  {% load static %}

{% block linkCDN %}
    <!--Link Font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">
{% endblock linkCDN %}

    
{% block main %}

  <!--Header-->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'pic.jpg' %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'pic1.jpg' %}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'pic2.jpg' %}" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'pic3.jpg' %}" alt="Fourth slide">
      </div>
    </div>
  </div>

  
  <!--Text Overlay on Slideshow-->
  <div class="centered text-center">
    Be Happy in this Meowment.<br>
    Nice to Meet you!
    <div class="col-md-12 text-center">
      <a href="https://www.instagram.com/funura/"><img src="{% static 'instagram.webp' %}" class="object-fit-contain" alt="~" width="60px"></a>&emsp;
      <a href="https://www.facebook.com/futuh.nurmuntahaalfahmi/"><img src="{% static 'facebook.webp' %}" class="object-fit-contain" alt="~" width="60px"></a>&emsp;
      <a href="https://www.linkedin.com/in/futuh-nurmuntaha-alfahmi-4841201a3/"><img src="{% static 'linkedin.webp' %}" class="object-fit-contain" alt="~" width="60px"></a>&emsp;
      <a href="https://www.youtube.com/channel/UC5dkhbw9uvhN4Vk-zh2yj-w/"><img src="{% static 'youtube.webp' %}" class="object-fit-contain" alt="~" width="60px"></a>&emsp;
      <a href="https://steamcommunity.com/id/funura/"><img src="{% static 'steam.webp' %}" class="object-fit-contain" alt="~" width="60px"></a>
    </div>
  </div>
  </div>
  
  <div class="content">
    <!--About section-->
    <section id="about" class="about">
      <div class="container mt-3 mb-5">
        <div class="row pt-5 justify-content-center">
          <div class="col-md-5">
            <img src="{% static 'foto.png' %}" class="object-fit contain" width="100%" alt="me">
            <h4>Futuh Nurmuntaha Alfahmi</h5>
            <h4>NPM : 1906305801</h5> 
          </div>
          <div class="col-md-7">
            <h5>Saya adalah mahasiswa jurusan Sistem Informasi Fakultas Ilmu Komputer di Universitas Indonesia yang sedang menempuh semester 3. Saya menyukai hal yang logis serta matematis yang dapat dikalkulasi, secara tidak langsung membuat saya menyukai matematika serta mengotak-atik keamanan siber sederhana. Selain dalam bidang akademis saya menyukai video games seperti yang kalian ketahui yaitu Mobile Legends dan saya juga menyukai bela diri seperti Karate, Taekwondo, dan Muaythai. Diluar hal-hal itu saya juga memiliki usaha kecil yang akan terus berkembang guna membantu orang lain yang membutuhkan.</h5>
          </div>
        </div>
      </div>

    </section>
    
    <!--education-->
    <section class="education" id="education">
      <div class="container mt-5">
        <div class="row mt-5 mb-5">
          <div class=col-md-12 text-center>
            <h2>Educational Background</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class=col-md-12>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{% static '1.png' %}" alt="SD">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static '2.png' %}" alt="SMP">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static '3.png' %}" alt="SMA">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static '4.png' %}" alt="Universitas">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Skills-->
    <section class="skill" id="skill">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12">
            <h2>Skills</h2>
          </div>
        </div><br>
        <ul class="list-unstyled">
          <li>
            <div class="media">
              <img src="{% static 'programming.png' %}" class="mr-3" width="250px" alt="...">
              <div class="media-body">
                <h5 class="mt-0">Programming</h5>
                <p>Pada tahun 2015 saya mempelajari beberapa bahasa pemrograman tetapi tidak benar-benar mendalami yang seharusnya dapat menyelesaikan problem-problem yang disajikan jika ada. Kemudian saya melanjutkan memperdalam bahasa pemrograman pada tahun 2018.</p><br>
                Berikut beberapa bahasa pemrograman yang telah saya kuasai :
                <div class="media mt-3">
                  <a class="mr-3" href="#">
                    <img src="{% static 'py.png' %}" class="mr-3" width="150px" alt="...">
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0">Python</h5>
                    <p> tahun 2019, saya mempelajari kembali bahasa pemrograman python tetapi dalam rangka pendekatan Data Science menggunakan bahasa pemrograman python. kemudian saya kembali mempelajari bahasa python pada mata kuliah Dasar-dasar pemrograman 1 di Fakultas Ilmu Komputer.</p>
                  </div>
                </div><br>
                <div class="media mt-3">
                  <a class="mr-3" href="#">
                    <img src="{% static 'java.png' %}" class="mr-3" width="150px" length="150px" alt="...">
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0">Java</h5>
                    <p>Setelah lulus mata kuliah Dasar-dasar pemrograman 1, saya melanjutkan belajar bahasa pemrograman java pada mata kuliah Dasar-dasar pemrograman 2 di tahun 2020.</p>
                  </div>
                </div>
              </div>
            </div>
          </li><br>
          <li class="media">
            <img src="{% static 'leader.png' %}" class="mr-3" width="250px" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Leadership</h5>
              <p>Skill Leadership ini tidak bisa dijelaskan banyak dengan kata-kata, namun pada kenyataannya saya mampu mengatur atau me-manage suatu kelompok tersebut atau bahkan menjadi ketuanya. seperti dalam kepanitiaan, organisasi, komunitas, maupun kelompok.</p>  
            </div>
          </li><br>
          <li class="media">
            <img src="{% static 'mlbb.png' %}" class="mr-3" width="250px" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Mobile Legends</h5>
              <p>Saya pertama kali bermain Mobile Legends pada tahun 2017 tepat di Season ke-3. Awalnya saya tidak menyukai game tipe MOBA namun lama kelamaan saya menikmati permainan tersebut yang berlanjut pada keseriusan ke dalam dunia Esports. di tahun 2017 akhir saya mulai mengikuti turnamen-turnamen kecil hingga menengah yang berlanjut hingga saat ini.</p>  
            </div>
          </li><br>
          <li>
            <div class="media">
              <img src="{% static 'mma.png' %}" class="mr-3" width="250px" alt="...">
              <div class="media-body">
                <h5 class="mt-0">Mixed Martial Arts</h5>
                <p>Mixed Martial Arts (MMA) adalah seni bela diri campuran yang memperbolehkan berbagai teknik pertarungan. Di dalam MMA berbagai teknik dikombinasikan dari berbagai cabang seni bela diri untuk melumpuhkan lawan. Sebenarnya saya sempat berganti-ganti cabang seni bela diri dalam jangka waktu yang cenderung singkat, oleh karena itu saya akan mencantumkan beberapa cabang seni bela diri yang saya tekuni selama minimal 1 tahun.</p>
                Berikut merupakan beberapa cabang seni bela diri yang saya pelajari :
                <div class="media mt-3">
                  <a class="mr-3" href="#">
                    <img src="{% static 'wadokai.png' %}" class="mr-3" width="150px" alt="...">
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0">Wadokai Karate</h5>
                    <p>Saya pertama kali mengikuti karate pada saat saya duduk di kelas 1 SD. Saya masuk ke dalam perguruan Wadokai, memang jarang terdengar karena di Indonesia perguruan terbesarnya jelas Inkai. Namun hal tersebut tidak menjadikan Inkai lebih baik dari Wadokai. Karate tetaplah karate. saya menyelesaikan tingkatan formal karate pada saat kelas 5 SD dengan gelar DAN-I (Sabuk Hitam).</p>
                  </div>
                </div><br>
                <div class="media mt-3">
                  <a class="mr-3" href="#">
                    <img src="{% static 'taekwondo.png' %}" class="mr-3" width="150px" alt="...">
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0">Taekwondo</h5>
                    <p>Pada saat saya memasuki jenjang SMP saya berniat melanjutkan bela diri Karate, namun di sekolah hanya tersedia Taekwondo dan Tifan(Kungfu Muslim). Saya memilih Taekwondo sebagai lanjutan karir bela diri. Saya sempat mengikuti bela diri Tifan, namun lebih tertarik Taekwondo. Di taekwondo saya hanya mengikuti ujian formal sampai sabuk Hijau saja karena untuk memenuhi syarat jika ingin mengikuti kyorugi(tanding fisik). Karena di karate saya sudah beberapa kali mengikuti Kumite(tanding fisik karate), jadi saat mengikuti Kyorugi Taekwondo tidak terlalu jauh perbedaannya.</p>
                  </div>
                </div><br>
                <div class="media mt-3">
                  <a class="mr-3" href="#">
                    <img src="{% static 'mossdef.png' %}" class="mr-3" width="150px" alt="...">
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0">Mossdef</h5>
                    <p>Pada saat saya duduk di bangku kelas 3 SMP, sekolah saya tidak mengizinkan untuk mengikuti ekstrakulikuler karena diminta fokus belajar Ujian Nasional. Karena itupun Taekwondo terhenti, namun guru di SMP saya merupakan instruktur suatu bela diri yang baru saya ketahui bernama Mossdef. Kemudian saya pun mengikuti bela diri Mossdef. Bela diri ini mempelajari tentang full defense sekaligus full offensive ketika mendapat serangan yang membuat Mossdef ini mirip dengan bela diri Krav maga namun khusus islam. "Moslem Self Defense" yang disingkat menjadi Mossdef.</p>
                  </div>
                </div><br>
                <div class="media mt-3">
                  <a class="mr-3" href="#">
                    <img src="{% static 'rev.png' %}" class="mr-3" width="150px" alt="...">
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0">Muaythai</h5>
                    <p>Saat saya masuk ke jenjang SMA saya mengikuti Bandung Karate Club dan Taekwondo, namun saya sudah bosan mengikuti bela diri tersebut. Akhirnya saya mencoba bela diri Muaythai di club Rev's. Saya beruntung karena pelatih saya adalah atlit One Pride MMA serta Atlit Profesional Muaythai. Saya bersemangat berlatih disana sampai ketika disuatu saat pelatih tersebut pindah untuk fokus karir atlitnya sehingga saya pun memutuskan untuk berhenti berlatih dari club tersebut.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </section>

    <!--Button skills-->
    <section id="button" class="button">
      <div class="row mb-2 mt-2 justify-content-center">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 text-center">
          <a id="btnexp" class="btn btn-dark btn-lg" href="{% url 'personalwebsite:experience' %}" role="button">Let's Go to My Random Things!</a>
        </div>
        <div class="col-md-1">

        </div>
      </div>
    </ssection>

    <!--Feedback Section-->
    <section id="feedback" class="feedback">
      <div class="container mt-5 text-center">
        <div class="row justify-content-center">
          <div class="col-md-12 mb-3 text-center">
          </div>
        </div>
        <h2 id="please">Please give me your feedback about my website <a href="mailto:funura691@gmail.com">here</a>!</h2>
      </div>
    </section>


    <!--contact section-->
    <footer class="contact" id="contact">
      <div class="container mt-5 pt-3">
        <div class="row justify-content-center">
          <div class="col text-center">
            <h2>Contact</h2> 
          </div>
        </div>
       <div class="row">
         <div class="col-md-6 text-center">
          <h6>Phone Number : +6281232106075 </h6>
         </div>
         <div class="col-md-6 text-center">
          <h6>Email : futuh.nurmuntaha@ui.ac.id</h6>
         </div>
       </div><br>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="https://www.instagram.com/funura/"><img src="{% static 'instagram.webp' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;&emsp;
            <a href="https://www.facebook.com/futuh.nurmuntahaalfahmi/"><img src="{% static 'facebook.webp' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;&emsp;
            <a href="https://www.linkedin.com/in/futuh-nurmuntaha-alfahmi-4841201a3/"><img src="{% static 'linkedin.webp' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;&emsp;
            <a href="https://www.youtube.com/channel/UC5dkhbw9uvhN4Vk-zh2yj-w/"><img src="{% static 'youtube.webp' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;&emsp;
            <a href="https://steamcommunity.com/id/funura/"><img src="{% static 'steam.webp' %}" class="object-fit-contain" alt="~" width="40px"></a>
          </div>
        </div><br>
        <div class="row">
          <divc class="col text-center">
            <h6> Copyright © 2020 Futuh, All Rights Reserved</h6>
          </div>
        </div>
      </div>
    </footer>


  </div>

  {% endblock main %}
