{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Font -->
  
    <style>
        body {
            background-color: #00a2ff;
        }
        a {
            color: rgb(20, 11, 11);
        }
        #back a{
            color: brown;
        }
        #list a{
            color: aliceblue;
        }
    </style>
    <title>Add Schedule</title>
  </head>
  <body>
        
    
    <div class="row mt-2 mb-3 justify-content-center">
        <div class="col text-center">
          <button id="back" type="button" class="btn btn-outline-seconadry"><a href="{% url 'personalwebsite:welcome' %}">Kembali ke halaman utama</a></button>
        </div>
    </div>
        
        <div class="row mt-3 mb-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Tambah Mata kuliah</h5>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                    
                            {{matkul_form.label_tag}}
                            {{matkul_form}}
                            <br>
                            <button type="submit">Tambah Jadwal</button>
            
                        </form>            
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col text-center">
              <button id="list" type="button" class="btn btn-dark"><a href="{% url 'matkul:listMatkul' %}">Lihat daftar mata kuliah</a></button>
            </div>
        </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>