{% load static %}
<html>
	<head>
		<title>Story 1 PPW (Profil)</title>
		<style>
			.content {
					justify-content: center;
					vertical-align: middle;
  					max-width: 500px;
  					margin: auto;
			}
			table, th, td {
  				border: 1px solid black;
			}

			body {
				background-image: url("{% static 'w.jpg' %}");
				background-repeat: no-repeat;
				background-size: cover;
			}

			.button {
            border: none;
            color: rgb(255, 255, 255);
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: auto;
            }

            .button {
            background-color: rgb(147, 216, 248);
            color: rgb(255, 255, 255);
            border: 4px solid #690041;
            }

            .button:hover {
            background-color: #3cb9f3;
            color: white;
            }

            .button a {
                color: rgb(255, 255, 255);
            }
		</style>
	</head>
	<body>
		<h1 align= "center"> Profil </h1>

		<div class="content">
		<br>
		<center><img src="{% static 'MY20.jpg' %}" alt="Foto Profil" width="282" height="358.5" ></center>
		<p> <b> Nama </b>: Futuh Nurmuntaha Alfahmi</p>
		<p> <b> TTL </b>: Garut, 06 September 2001</p>
		<p> <b> NPM </b>: 1906305801</p>
		<p> <b> Angkatan </b>: 2019</p>
		<p> <b> Pekerjaan </b>: Mahasiswa di Fakultas Ilmu Komputer, Universitas Indonesia</p>
		<p> <b> Hobi </b>: Bermain Game dan Menonton Youtube</p>
		<p> <b> Deskripsi Singkat </b>: Saya adalah seorang mahasiswa biasa yang tak sempurna dan kadang salah.</p>
		
		<center>
		<p> <b> Riwayat Pendidikan </b>:</p>

		<table>
			<tr>
				<th> <b> Tahun </b> </th>
				<th> <b> Nama Sekolah </b> </th>
			</tr>
			<tr>
				<td> 2019-Sekarang </td>
				<td> Universitas Indonesia </td>
			</tr>
			<tr>
				<td> 2016-2019 </td>
				<td> SMAN 1 Kota Bogor </td>
			</tr>
			<tr>
				<td> 2013-2016 </td>
				<td> SMPIT Ummul Quro Bogor </td>
			</tr>
			<tr>
				<td> 2007-2013 </td>
				<td> SDIT Aliya </td>
			</tr>
		</table>

		<br>

		<p> <b> Kontak Saya </b>:</p>

		<a href="https://www.instagram.com/funura/">
		<img src="{% static 'instagram.png' %}" alt="instagram" style="width: 3rem"/>
		</a>
		<a href="https://www.facebook.com/futuh.nurmuntahaalfahmi">
		<img src="{% static 'facebook.png' %}" alt="facebook" style="width: 3rem"/>
		</a>
		<a href="https://www.linkedin.com/in/futuh-nurmuntaha-alfahmi-4841201a3/">
		<img src="{% static 'linkedin.png' %}" alt="linkedin" style="width: 3rem"/>
		</a>

		<button class="button"><a href="{% url 'personalwebsite:welcome' %}">Story 3 !</a></button><br>

		</center>
		</div>
	</body>